openapi: 3.0.0
info:
  title: Items
  description: 'An item is the product that is offered for sale. Nature of the product could be physical or digital. Based on the type of your business, you can offer one or more goods/services. Your product can be either fixed priced or a subscription service. Each of this may fall under a separate pricing category or have add ons associated to them.'
  contact: {}
  version: 1.0.0
servers:
  -
    url: 'https://www.zohoapis.com/inventory/v1'
    description: 'API Endpoint'
tags:
  -
    name: items
    description: 'Items Module'
paths:
  /items:
    post:
      tags:
        - items
      summary: 'Create an item'
      description: 'Creates a new item in Zoho Inventory.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-an-item-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-an-item-response'
      deprecated: false
      security:
        -
          Zoho_Auth:
            - ZohoInventory.items.CREATE
    get:
      tags:
        - items
      summary: 'List all the items'
      description: 'Lists all the items present in Zoho Inventory.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-all-the-items-response'
      deprecated: false
      security:
        -
          Zoho_Auth:
            - ZohoInventory.items.READ
    parameters:
      -
        $ref: '#/components/parameters/organization_id'
  '/itemdetails':
    get:
      tags:
        - items
      summary: 'Bulk fetch item details'
      description: 'Fetch item details for the mentioned item IDs'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk-fetch-item-details-response'
      deprecated: false
      security:
        -
          Zoho_Auth:
            - ZohoInventory.items.READ
    parameters:
      -
        name: item_ids
        in: query
        required: true
        description: '<code>List of item ids separated by comma</code>'
        schema:
          type: string
        example: 4815000000044208,4815000000044274,4815000000044340
      -
        $ref: '#/components/parameters/organization_id'
  '/items/{item_id}':
    get:
      tags:
        - items
      summary: 'Retrieve an item'
      description: 'Fetches the details for an existing item.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrieve-an-item-response'
      deprecated: false
      security:
        -
          Zoho_Auth:
            - ZohoInventory.items.READ
    put:
      tags:
        - items
      summary: 'Update an item'
      description: 'Update the details of an item.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-an-item-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-an-item-response'
      deprecated: false
      security:
        -
          Zoho_Auth:
            - ZohoInventory.items.UPDATE
    delete:
      tags:
        - items
      summary: 'Delete an item'
      description: 'Deletes an existing item from Zoho Inventory.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-an-item-response'
      deprecated: false
      security:
        -
          Zoho_Auth:
            - ZohoInventory.items.DELETE
    parameters:
      -
        name: item_id
        in: path
        required: true
        schema:
          type: string
        example: 4815000000044208
      -
        $ref: '#/components/parameters/organization_id'
  '/item/{item_id}/customfields':
    put:
      tags:
        - items
      summary: 'Update custom field in existing items'
      description: 'Update the value of the custom field in existing items.'
      parameters:
        -
          name: item_id
          in: path
          required: true
          schema:
            type: string
          example: 45667789900
        -
          $ref: '#/components/parameters/organization_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom_fields'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-an-item-customfield-response'
      deprecated: false
      security:
        -
          Zoho_Auth:
            - ZohoInventory.items.UPDATE
  '/items/{item_id}/image':
    delete:
      tags:
        - items
      summary: 'Delete an item image'
      description: 'Deletes the image associated for an item in Zoho Inventory.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-an-item-image-response'
      deprecated: false
      security:
        -
          Zoho_Auth:
            - ZohoInventory.items.DELETE
    parameters:
      -
        name: item_id
        in: path
        required: true
        schema:
          type: string
        example: 4815000000044208
      -
        $ref: '#/components/parameters/organization_id'
  '/items/{item_id}/active':
    post:
      tags:
        - items
      summary: 'Mark as active'
      description: 'Changes the status of an item to active.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-as-active-response'
      deprecated: false
      security:
        -
          Zoho_Auth:
            - ZohoInventory.items.CREATE
    parameters:
      -
        name: item_id
        in: path
        required: true
        schema:
          type: string
        example: 4815000000044208
      -
        $ref: '#/components/parameters/organization_id'
  '/items/{item_id}/inactive':
    post:
      tags:
        - items
      summary: 'Mark as inactive'
      description: 'Mark an item as inactive.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-as-inactive-response'
      deprecated: false
      security:
        -
          Zoho_Auth:
            - ZohoInventory.items.CREATE
    parameters:
      -
        name: item_id
        in: path
        required: true
        schema:
          type: string
        example: 4815000000044208
      -
        $ref: '#/components/parameters/organization_id'
components:
  parameters:
    organization_id:
      name: organization_id
      description: 'ID of the organization'
      in: query
      required: true
      schema:
        type: string
      example: '10234695'
  schemas:
    gendoc-attributes-schema:
      $ref: '#/components/schemas/item-response'
    item-response:
      type: object
      properties:
        group_id:
          $ref: '#/components/schemas/group_id'
        group_name:
          $ref: '#/components/schemas/group_name'
        item_id:
          $ref: '#/components/schemas/item_id'
        name:
          $ref: '#/components/schemas/name'
        unit:
          $ref: '#/components/schemas/unit'
        item_type:
          $ref: '#/components/schemas/item_type'
        product_type:
          $ref: '#/components/schemas/product_type'
        is_taxable:
          $ref: '#/components/schemas/is_taxable'
        tax_id:
          $ref: '#/components/schemas/tax_id'
        documents:
          $ref: '#/components/schemas/documents'
        description:
          $ref: '#/components/schemas/description'
        tax_name:
          $ref: '#/components/schemas/tax_name'
        tax_percentage:
          $ref: '#/components/schemas/tax_percentage'
        tax_type:
          $ref: '#/components/schemas/tax_type'
        purchase_account_id:
          $ref: '#/components/schemas/purchase_account_id'
        purchase_account_name:
          $ref: '#/components/schemas/purchase_account_name'
        account_name:
          $ref: '#/components/schemas/account_name'
        inventory_account_id:
          $ref: '#/components/schemas/inventory_account_id'
        attribute_id1:
          $ref: '#/components/schemas/attribute_id1'
        attribute_name1:
          $ref: '#/components/schemas/attribute_name1'
        status:
          $ref: '#/components/schemas/status'
        source:
          $ref: '#/components/schemas/source'
        rate:
          $ref: '#/components/schemas/rate'
        pricebook_rate:
          $ref: '#/components/schemas/pricebook_rate'
        purchase_rate:
          $ref: '#/components/schemas/purchase_rate'
        reorder_level:
          $ref: '#/components/schemas/reorder_level'
        vendor_id:
          $ref: '#/components/schemas/vendor_id'
        vendor_name:
          $ref: '#/components/schemas/vendor_name'
        locations:
          $ref: '#/components/schemas/locations'
        sku:
          $ref: '#/components/schemas/sku'
        upc:
          $ref: '#/components/schemas/upc'
        ean:
          $ref: '#/components/schemas/ean'
        isbn:
          $ref: '#/components/schemas/isbn'
        part_number:
          $ref: '#/components/schemas/part_number'
        attribute_option_id1:
          $ref: '#/components/schemas/attribute_option_id1'
        attribute_option_name1:
          $ref: '#/components/schemas/attribute_option_name1'
        image_id:
          $ref: '#/components/schemas/image_id'
        image_name:
          $ref: '#/components/schemas/image_name'
        purchase_description:
          $ref: '#/components/schemas/purchase_description'
        image_type:
          $ref: '#/components/schemas/image_type'
        item_tax_preferences:
          $ref: '#/components/schemas/item_tax_preferences'
        hsn_or_sac:
          $ref: '#/components/schemas/hsn_or_sac'
        sat_item_key_code:
          $ref: '#/components/schemas/sat_item_key_code'
        unitkey_code:
          $ref: '#/components/schemas/unitkey_code'
        custom_fields:
          $ref: '#/components/schemas/custom_fields'
    group_id:
      description: 'Unique ID generated by the server for the group to which the item belongs, if any. This is used as an identifier.'
      type: string
      example: 4815000000044220
    group_name:
      description: 'Name of product group'
      type: string
      example: Bags
    unit:
      description: 'Unit of measurement for the item.'
      type: string
      example: qty
    item_type:
      description: 'Item type can be <code>inventory, sales, purchases</code> or <code>sales_and_purchases</code>. If item is associated with a group, then type should be <code>inventory</code>.'
      type: string
      example: inventory
    is_taxable:
      description: 'Boolean to track the taxability of the item.'
      type: boolean
      example: true
    tax_id:
      description: 'Unique ID generated by the server for the tax associated with the item. This is used a unique identifier.'
      type: integer
      format: int64
      example: 4815000000044043
    description:
      description: 'Description of the Item.'
      type: string
      example: description
    tax_name:
      description: 'Name of the tax applied on the Item Group.'
      type: string
      example: Sales
    tax_percentage:
      description: 'Percentage of the Tax'
      type: number
      format: double
      example: 12
    tax_type:
      description: 'Type of the Tax.'
      type: string
      example: 'Service Tax'
    purchase_account_id:
      description: 'Unique ID generated by the server for the Purchase account.'
      type: integer
      format: int64
      example: 4815000000035003
    purchase_account_name:
      description: 'Name of the Purchase Account'
      type: string
      example: 'Cost of Goods Sold'
    account_id:
      description: 'Unique ID generated by the server for the Sales account.'
      type: integer
      format: int64
      example: 4815000000000388
    account_name:
      description: 'Name of the Sales Account.'
      type: string
      example: Sales
    inventory_account_id:
      description: 'Uniquq ID generated by the server for the Inventory account.'
      type: integer
      format: int64
      example: 4815000000035001
    attribute_id1:
      description: 'Unique ID used by the server. This is used as an identifier.'
      type: integer
      format: int64
      example: 4815000000044112
    attribute_name1:
      description: 'Name of the attribute present in the Item Group.'
      type: string
      example: Small
    status:
      description: 'Status of the Item Group.'
      type: string
      example: active
    source:
      description: 'The source of the Item Group.'
      type: string
    item_id:
      description: 'Unique ID generated by the server for the Item. This is used as an identifier.'
      type: integer
      format: int64
      example: 4815000000044208
    name:
      description: 'Name of the Item.'
      type: string
      example: Bags-small
    rate:
      description: 'Sales price of the Item.'
      type: number
      format: double
      example: 6
    pricebook_rate:
      description: 'Pricelist rate applied on the item.'
      type: number
      format: double
      example: 6
    purchase_rate:
      description: 'Purchase price of the Item.'
      type: number
      format: double
      example: 6
    reorder_level:
      description: 'Reorder level of the item.'
      type: number
      format: double
      example: 5
    initial_stock:
      description: 'The opening stock of the item.'
      type: number
      format: double
      example: 50
    initial_stock_rate:
      description: 'The opening stock value of the item.'
      type: number
      format: double
      example: 500
    vendor_id:
      description: 'Unique ID generated by the server for the Vendor. This is used as an identifier.'
      type: integer
      format: int64
      example: 4815000000044080
    vendor_name:
      description: 'Name of the preferred Vendor for purchasing this item.'
      type: string
      example: Molly
    stock_on_hand:
      description: 'Stock available for a particular item.'
      type: number
      format: double
      example: 50
    sku:
      description: 'The Stock Keeeping Unit (SKU) of an item. This is unique for every item in the Inventory.'
      type: string
      example: SK123
    upc:
      description: 'The 12 digit Unique Product Code (UPC) of the item.'
      type: integer
      format: int64
      example: 111111111111
    ean:
      description: 'Unique EAN value for the Item.'
      type: integer
      format: int64
      example: 111111111112
    isbn:
      description: 'Unique ISBN value for the Item.'
      type: string
      example: 111111111113
    part_number:
      description: 'Part Number of the Item.'
      type: string
      example: 111111111114
    attribute_option_id1:
      description: 'Unique ID generated by the server for the attribute''s options. This is used as an identifier.'
      type: integer
      format: int64
      example: 4815000000044214
    attribute_option_name1:
      description: 'Name of the attribute''s option.'
      type: integer
      format: int64
      example: Small
    image_id:
      description: 'Unique ID generated by the server for the item image. This is used as an identifier.'
      type: integer
      format: int64
      example: 2077500000000002000
    image_name:
      description: 'Image name of the Item.'
      type: string
      example: bag_s.jpg
    image_type:
      description: 'Type of the image i.e., its file format.'
      type: string
      example: jpg
    purchase_description:
      description: 'The description for the purchase information. This will be displayed to the vendor in your purchase order.'
      type: string
      example: 'Purchase description'
    is_combo_product:
      type: boolean
      example: false
    product_type:
      description: 'Type of the product. It can be <code> goods</code> or <code> service</code>'
      type: string
      example: goods
    is_linked_with_zohocrm:
      description: 'Denotes if the item is linked to Zoho CRM'
      type: boolean
      example: false
    actual_available_stock:
      description: 'Stock based on Shipments and Receives minus ordered stock'
      type: number
      format: decimal
      example: 2
    available_stock:
      description: 'Stock based on Shipments and Receives'
      type: number
      format: decimal
      example: 2
    location_id:
      description: 'Location ID'
      type: string
      example: '460000000038080'
    location_name:
      description: 'Name of the location'
      type: string
      example: ""
    is_primary:
      description: 'Mention whether the item is primary or not'
      type: boolean
      example: false
    location_stock_on_hand:
      description: 'Current available stock in your location.'
      type: string
      example: ""
    location_available_stock:
      description: 'Available stock in your location.'
      type: string
      example: ""
    location_actual_available_stock:
      description: 'Actual available stock in your location.'
      type: string
      example: ""
    locations:
      type: array
      items:
        type: object
        properties:
          location_id:
            $ref: '#/components/schemas/location_id'
          location_name:
            $ref: '#/components/schemas/location_name'
          status:
            $ref: '#/components/schemas/status'
          is_primary:
            $ref: '#/components/schemas/is_primary'
          location_stock_on_hand:
            $ref: '#/components/schemas/location_stock_on_hand'
          location_available_stock:
            $ref: '#/components/schemas/location_available_stock'
          location_actual_available_stock:
            $ref: '#/components/schemas/location_actual_available_stock'
    created_time:
      description: 'Created Time of the Transaction'
      type: string
      example: '2013-01-24'
    last_modified_time:
      description: 'Last Modified time of the Transaction'
      type: string
      example: '2013-01-24'
    documents:
      description: 'List of all the documents associated with the item'
      type: array
      items:
        type: string
    tax_specification:
      description: 'Type of tax. It can be <code> intra</code> or <code> inter</code>'
      type: string
      example: intra
      x-node_available_in:
        - in
      x-node_unavailable_in: []
    item_tax_preferences:
      type: array
      items:
        type: object
        properties:
          tax_id:
            $ref: '#/components/schemas/tax_id'
          tax_specification:
            $ref: '#/components/schemas/tax_specification'
      x-node_available_in:
        - in
      x-node_unavailable_in: []
    hsn_or_sac:
      description: 'HSN Code of the item'
      type: string
      example: 85423100
      x-node_available_in:
        - in
      x-node_unavailable_in: []
    sat_item_key_code:
      description: 'Add SAT Item Key Code for your goods/services. Download the <a href= http://omawww.sat.gob.mx/tramitesyservicios/Paginas/documentos/catCFDI_V_4_07122022.xls  >CFDI Catalogs.</a>'
      type: string
      x-node_available_in:
        - mx
      x-node_unavailable_in: []
    unitkey_code:
      description: 'Add Unit Key Code for your goods/services. Download the <a href= http://omawww.sat.gob.mx/tramitesyservicios/Paginas/documentos/catCFDI_V_4_07122022.xls  >CFDI Catalogs.</a>'
      type: string
      x-node_available_in:
        - mx
      x-node_unavailable_in: []
    customfield_id:
      type: integer
      format: int64
      example: '46000000012845'
    value:
      description: 'Value of the Custom Field'
      type: string
      example: Normal
    custom_fields:
      description: 'Custom fields for an item.'
      type: array
      items:
        type: object
        properties:
          customfield_id:
            $ref: '#/components/schemas/customfield_id'
          value:
            $ref: '#/components/schemas/value'
    update-an-item-customfield-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: 'Custom Fields Updated Successfully'
          readOnly: true
    create-an-item-request:
      required:
        - name
      type: object
      properties:
        group_id:
          $ref: '#/components/schemas/group_id'
        group_name:
          $ref: '#/components/schemas/group_name'
        unit:
          $ref: '#/components/schemas/unit'
        documents:
          $ref: '#/components/schemas/documents'
        item_type:
          $ref: '#/components/schemas/item_type'
        product_type:
          $ref: '#/components/schemas/product_type'
        is_taxable:
          $ref: '#/components/schemas/is_taxable'
        tax_id:
          $ref: '#/components/schemas/tax_id'
        description:
          $ref: '#/components/schemas/description'
        purchase_account_id:
          $ref: '#/components/schemas/purchase_account_id'
        inventory_account_id:
          $ref: '#/components/schemas/inventory_account_id'
        attribute_name1:
          $ref: '#/components/schemas/attribute_name1'
        name:
          $ref: '#/components/schemas/name'
        rate:
          $ref: '#/components/schemas/rate'
        purchase_rate:
          $ref: '#/components/schemas/purchase_rate'
        reorder_level:
          $ref: '#/components/schemas/reorder_level'
        locations:
          type: array
          items:
            type: object
            properties:
              location_id:
                $ref: '#/components/schemas/location_id'
              initial_stock:
                $ref: '#/components/schemas/initial_stock'
              initial_stock_rate:
                $ref: '#/components/schemas/initial_stock_rate'
        vendor_id:
          $ref: '#/components/schemas/vendor_id'
        vendor_name:
          $ref: '#/components/schemas/vendor_name'
        sku:
          $ref: '#/components/schemas/sku'
        upc:
          $ref: '#/components/schemas/upc'
        ean:
          $ref: '#/components/schemas/ean'
        isbn:
          $ref: '#/components/schemas/isbn'
        part_number:
          $ref: '#/components/schemas/part_number'
        attribute_option_name1:
          $ref: '#/components/schemas/attribute_option_name1'
        purchase_description:
          $ref: '#/components/schemas/purchase_description'
        item_tax_preferences:
          $ref: '#/components/schemas/item_tax_preferences'
        hsn_or_sac:
          $ref: '#/components/schemas/hsn_or_sac'
        sat_item_key_code:
          $ref: '#/components/schemas/sat_item_key_code'
        unitkey_code:
          $ref: '#/components/schemas/unitkey_code'
        custom_fields:
          $ref: '#/components/schemas/custom_fields'
    create-an-item-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: 'The item has been added.'
          readOnly: true
        item:
          $ref: '#/components/schemas/item-response'
    list-all-the-items-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: success
          readOnly: true
        items:
          type: array
          items:
            type: object
            properties:
              group_id:
                $ref: '#/components/schemas/group_id'
              group_name:
                $ref: '#/components/schemas/group_name'
              item_id:
                $ref: '#/components/schemas/item_id'
              name:
                $ref: '#/components/schemas/name'
              status:
                $ref: '#/components/schemas/status'
              source:
                $ref: '#/components/schemas/source'
              is_linked_with_zohocrm:
                $ref: '#/components/schemas/is_linked_with_zohocrm'
              item_type:
                $ref: '#/components/schemas/item_type'
              description:
                $ref: '#/components/schemas/description'
              rate:
                $ref: '#/components/schemas/rate'
              is_taxable:
                $ref: '#/components/schemas/is_taxable'
              tax_id:
                $ref: '#/components/schemas/tax_id'
              tax_name:
                $ref: '#/components/schemas/tax_name'
              tax_percentage:
                $ref: '#/components/schemas/tax_percentage'
              purchase_description:
                $ref: '#/components/schemas/purchase_description'
              purchase_rate:
                $ref: '#/components/schemas/purchase_rate'
              is_combo_product:
                $ref: '#/components/schemas/is_combo_product'
              product_type:
                $ref: '#/components/schemas/product_type'
              attribute_id1:
                $ref: '#/components/schemas/attribute_id1'
              attribute_name1:
                $ref: '#/components/schemas/attribute_name1'
              reorder_level:
                $ref: '#/components/schemas/reorder_level'
              locations:
                $ref: '#/components/schemas/locations'
              sku:
                $ref: '#/components/schemas/sku'
              upc:
                $ref: '#/components/schemas/upc'
              ean:
                $ref: '#/components/schemas/ean'
              isbn:
                $ref: '#/components/schemas/isbn'
              part_number:
                $ref: '#/components/schemas/part_number'
              attribute_option_id1:
                $ref: '#/components/schemas/attribute_option_id1'
              attribute_option_name1:
                $ref: '#/components/schemas/attribute_option_name1'
              image_name:
                $ref: '#/components/schemas/image_name'
              image_type:
                $ref: '#/components/schemas/image_type'
              created_time:
                $ref: '#/components/schemas/created_time'
              last_modified_time:
                $ref: '#/components/schemas/last_modified_time'
              hsn_or_sac:
                $ref: '#/components/schemas/hsn_or_sac'
              sat_item_key_code:
                $ref: '#/components/schemas/sat_item_key_code'
              unitkey_code:
                $ref: '#/components/schemas/unitkey_code'
              custom_fields:
                $ref: '#/components/schemas/custom_fields'
    bulk-fetch-item-details-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: success
          readOnly: true
        items:
          type: array
          items:
            type: object
            properties:
              item_id:
                $ref: '#/components/schemas/item_id'
              name:
                $ref: '#/components/schemas/name'
              unit:
                $ref: '#/components/schemas/unit'
              item_type:
                $ref: '#/components/schemas/item_type'
              product_type:
                $ref: '#/components/schemas/product_type'
              is_taxable:
                $ref: '#/components/schemas/is_taxable'
              tax_id:
                $ref: '#/components/schemas/tax_id'
              description:
                $ref: '#/components/schemas/description'
              tax_name:
                $ref: '#/components/schemas/tax_name'
              tax_percentage:
                $ref: '#/components/schemas/tax_percentage'
              tax_type:
                $ref: '#/components/schemas/tax_type'
              purchase_account_id:
                $ref: '#/components/schemas/purchase_account_id'
              purchase_account_name:
                $ref: '#/components/schemas/purchase_account_name'
              account_name:
                $ref: '#/components/schemas/account_name'
              inventory_account_id:
                $ref: '#/components/schemas/inventory_account_id'
              attribute_id1:
                $ref: '#/components/schemas/attribute_id1'
              attribute_name1:
                $ref: '#/components/schemas/attribute_name1'
              status:
                $ref: '#/components/schemas/status'
              rate:
                $ref: '#/components/schemas/rate'
              pricebook_rate:
                $ref: '#/components/schemas/pricebook_rate'
              purchase_rate:
                $ref: '#/components/schemas/purchase_rate'
              reorder_level:
                $ref: '#/components/schemas/reorder_level'
              vendor_id:
                $ref: '#/components/schemas/vendor_id'
              vendor_name:
                $ref: '#/components/schemas/vendor_name'
              locations:
                $ref: '#/components/schemas/locations'
              sku:
                $ref: '#/components/schemas/sku'
              upc:
                $ref: '#/components/schemas/upc'
              ean:
                $ref: '#/components/schemas/ean'
              isbn:
                $ref: '#/components/schemas/isbn'
              part_number:
                $ref: '#/components/schemas/part_number'
              attribute_option_id1:
                $ref: '#/components/schemas/attribute_option_id1'
              attribute_option_name1:
                $ref: '#/components/schemas/attribute_option_name1'
              image_id:
                $ref: '#/components/schemas/image_id'
              image_name:
                $ref: '#/components/schemas/image_name'
              purchase_description:
                $ref: '#/components/schemas/purchase_description'
              image_type:
                $ref: '#/components/schemas/image_type'
              item_tax_preferences:
                $ref: '#/components/schemas/item_tax_preferences'
              hsn_or_sac:
                $ref: '#/components/schemas/hsn_or_sac'
              custom_fields:
                $ref: '#/components/schemas/custom_fields'
    retrieve-an-item-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: success
          readOnly: true
        item:
          type: object
          properties:
            group_id:
              $ref: '#/components/schemas/group_id'
            group_name:
              $ref: '#/components/schemas/group_name'
            item_id:
              $ref: '#/components/schemas/item_id'
            name:
              $ref: '#/components/schemas/name'
            unit:
              $ref: '#/components/schemas/unit'
            item_type:
              $ref: '#/components/schemas/item_type'
            product_type:
              $ref: '#/components/schemas/product_type'
            is_taxable:
              $ref: '#/components/schemas/is_taxable'
            tax_id:
              $ref: '#/components/schemas/tax_id'
            description:
              $ref: '#/components/schemas/description'
            tax_name:
              $ref: '#/components/schemas/tax_name'
            tax_percentage:
              $ref: '#/components/schemas/tax_percentage'
            tax_type:
              $ref: '#/components/schemas/tax_type'
            purchase_account_id:
              $ref: '#/components/schemas/purchase_account_id'
            purchase_account_name:
              $ref: '#/components/schemas/purchase_account_name'
            account_name:
              $ref: '#/components/schemas/account_name'
            inventory_account_id:
              $ref: '#/components/schemas/inventory_account_id'
            attribute_id1:
              $ref: '#/components/schemas/attribute_id1'
            attribute_name1:
              $ref: '#/components/schemas/attribute_name1'
            status:
              $ref: '#/components/schemas/status'
            source:
              $ref: '#/components/schemas/source'
            rate:
              $ref: '#/components/schemas/rate'
            pricebook_rate:
              $ref: '#/components/schemas/pricebook_rate'
            purchase_rate:
              $ref: '#/components/schemas/purchase_rate'
            reorder_level:
              $ref: '#/components/schemas/reorder_level'
            vendor_id:
              $ref: '#/components/schemas/vendor_id'
            vendor_name:
              $ref: '#/components/schemas/vendor_name'
            locations:
              $ref: '#/components/schemas/locations'
            sku:
              $ref: '#/components/schemas/sku'
            upc:
              $ref: '#/components/schemas/upc'
            ean:
              $ref: '#/components/schemas/ean'
            isbn:
              $ref: '#/components/schemas/isbn'
            part_number:
              $ref: '#/components/schemas/part_number'
            attribute_option_id1:
              $ref: '#/components/schemas/attribute_option_id1'
            attribute_option_name1:
              $ref: '#/components/schemas/attribute_option_name1'
            image_id:
              $ref: '#/components/schemas/image_id'
            image_name:
              $ref: '#/components/schemas/image_name'
            purchase_description:
              $ref: '#/components/schemas/purchase_description'
            image_type:
              $ref: '#/components/schemas/image_type'
            item_tax_preferences:
              $ref: '#/components/schemas/item_tax_preferences'
            hsn_or_sac:
              $ref: '#/components/schemas/hsn_or_sac'
            sat_item_key_code:
              $ref: '#/components/schemas/sat_item_key_code'
            unitkey_code:
              $ref: '#/components/schemas/unitkey_code'
            custom_fields:
              $ref: '#/components/schemas/custom_fields'
    update-an-item-request:
      required:
        - name
      type: object
      properties:
        group_id:
          $ref: '#/components/schemas/group_id'
        group_name:
          $ref: '#/components/schemas/group_name'
        unit:
          $ref: '#/components/schemas/unit'
        item_type:
          $ref: '#/components/schemas/item_type'
        product_type:
          $ref: '#/components/schemas/product_type'
        is_taxable:
          $ref: '#/components/schemas/is_taxable'
        tax_id:
          $ref: '#/components/schemas/tax_id'
        description:
          $ref: '#/components/schemas/description'
        tax_name:
          $ref: '#/components/schemas/tax_name'
        tax_percentage:
          $ref: '#/components/schemas/tax_percentage'
        tax_type:
          $ref: '#/components/schemas/tax_type'
        purchase_account_id:
          $ref: '#/components/schemas/purchase_account_id'
        purchase_account_name:
          $ref: '#/components/schemas/purchase_account_name'
        account_name:
          $ref: '#/components/schemas/account_name'
        inventory_account_id:
          $ref: '#/components/schemas/inventory_account_id'
        attribute_id1:
          $ref: '#/components/schemas/attribute_id1'
        attribute_name1:
          $ref: '#/components/schemas/attribute_name1'
        status:
          $ref: '#/components/schemas/status'
        source:
          $ref: '#/components/schemas/source'
        name:
          $ref: '#/components/schemas/name'
        rate:
          $ref: '#/components/schemas/rate'
        pricebook_rate:
          $ref: '#/components/schemas/pricebook_rate'
        purchase_rate:
          $ref: '#/components/schemas/purchase_rate'
        reorder_level:
          $ref: '#/components/schemas/reorder_level'
        locations:
          type: array
          items:
            type: object
            properties:
              location_id:
                $ref: '#/components/schemas/location_id'
              initial_stock:
                $ref: '#/components/schemas/initial_stock'
              initial_stock_rate:
                $ref: '#/components/schemas/initial_stock_rate'
        vendor_id:
          $ref: '#/components/schemas/vendor_id'
        vendor_name:
          $ref: '#/components/schemas/vendor_name'
        sku:
          $ref: '#/components/schemas/sku'
        upc:
          $ref: '#/components/schemas/upc'
        ean:
          $ref: '#/components/schemas/ean'
        isbn:
          $ref: '#/components/schemas/isbn'
        part_number:
          $ref: '#/components/schemas/part_number'
        attribute_option_id1:
          $ref: '#/components/schemas/attribute_option_id1'
        attribute_option_name1:
          $ref: '#/components/schemas/attribute_option_name1'
        image_id:
          $ref: '#/components/schemas/image_id'
        image_name:
          $ref: '#/components/schemas/image_name'
        purchase_description:
          $ref: '#/components/schemas/purchase_description'
        image_type:
          $ref: '#/components/schemas/image_type'
        item_tax_preferences:
          $ref: '#/components/schemas/item_tax_preferences'
        hsn_or_sac:
          $ref: '#/components/schemas/hsn_or_sac'
        sat_item_key_code:
          $ref: '#/components/schemas/sat_item_key_code'
        unitkey_code:
          $ref: '#/components/schemas/unitkey_code'
        custom_fields:
          $ref: '#/components/schemas/custom_fields'
    update-an-item-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: 'Item details have been updated'
          readOnly: true
        item:
          type: object
          properties:
            group_id:
              $ref: '#/components/schemas/group_id'
            group_name:
              $ref: '#/components/schemas/group_name'
            item_id:
              $ref: '#/components/schemas/item_id'
            name:
              $ref: '#/components/schemas/name'
            unit:
              $ref: '#/components/schemas/unit'
            item_type:
              $ref: '#/components/schemas/item_type'
            product_type:
              $ref: '#/components/schemas/product_type'
            is_taxable:
              $ref: '#/components/schemas/is_taxable'
            tax_id:
              $ref: '#/components/schemas/tax_id'
            documents:
              $ref: '#/components/schemas/documents'
            description:
              $ref: '#/components/schemas/description'
            tax_name:
              $ref: '#/components/schemas/tax_name'
            tax_percentage:
              $ref: '#/components/schemas/tax_percentage'
            tax_type:
              $ref: '#/components/schemas/tax_type'
            purchase_account_id:
              $ref: '#/components/schemas/purchase_account_id'
            purchase_account_name:
              $ref: '#/components/schemas/purchase_account_name'
            account_name:
              $ref: '#/components/schemas/account_name'
            inventory_account_id:
              $ref: '#/components/schemas/inventory_account_id'
            attribute_id1:
              $ref: '#/components/schemas/attribute_id1'
            attribute_name1:
              $ref: '#/components/schemas/attribute_name1'
            status:
              $ref: '#/components/schemas/status'
            source:
              $ref: '#/components/schemas/source'
            rate:
              $ref: '#/components/schemas/rate'
            pricebook_rate:
              $ref: '#/components/schemas/pricebook_rate'
            purchase_rate:
              $ref: '#/components/schemas/purchase_rate'
            reorder_level:
              $ref: '#/components/schemas/reorder_level'
            vendor_id:
              $ref: '#/components/schemas/vendor_id'
            vendor_name:
              $ref: '#/components/schemas/vendor_name'
            locations:
              $ref: '#/components/schemas/locations'
            sku:
              $ref: '#/components/schemas/sku'
            upc:
              $ref: '#/components/schemas/upc'
            ean:
              $ref: '#/components/schemas/ean'
            isbn:
              $ref: '#/components/schemas/isbn'
            part_number:
              $ref: '#/components/schemas/part_number'
            attribute_option_id1:
              $ref: '#/components/schemas/attribute_option_id1'
            attribute_option_name1:
              $ref: '#/components/schemas/attribute_option_name1'
            image_id:
              $ref: '#/components/schemas/image_id'
            image_name:
              $ref: '#/components/schemas/image_name'
            purchase_description:
              $ref: '#/components/schemas/purchase_description'
            image_type:
              $ref: '#/components/schemas/image_type'
            item_tax_preferences:
              $ref: '#/components/schemas/item_tax_preferences'
            hsn_or_sac:
              $ref: '#/components/schemas/hsn_or_sac'
            sat_item_key_code:
              $ref: '#/components/schemas/sat_item_key_code'
            unitkey_code:
              $ref: '#/components/schemas/unitkey_code'
            custom_fields:
              $ref: '#/components/schemas/custom_fields'
    delete-an-item-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: 'The item has been deleted.'
          readOnly: true
    delete-an-item-image-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: 'The item image has been deleted.'
          readOnly: true
    mark-as-active-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: 'The item has been marked as Active.'
          readOnly: true
    mark-as-inactive-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: 'The item has been marked as Inactive.'
          readOnly: true
  securitySchemes:
    Zoho_Auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://accounts.zoho.com/oauth/v2/auth'
          scopes:
            ZohoInventory.items.CREATE: 'Create Items'
            ZohoInventory.items.READ: 'Read Items'
            ZohoInventory.items.UPDATE: 'Update Items'
            ZohoInventory.items.DELETE: 'Delete Items'
